<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.geobloc"
      android:versionCode="1"
      android:versionName="1.0">
    <application 
    	android:label="@string/app_name"
    	android:name="ApplicationEx" 
    	android:debuggable="true" android:icon="@drawable/milestone_geobloc_icon">
    	<activity android:name="Cover"
    			android:label="@string/app_name">
    	           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity>
        <activity android:name=".MainMenu"
                  android:label="@string/app_name">
 
        </activity>
        <activity 
        	android:name=".FormList"
        	android:label="@string/app_name"/>
        <activity 
        	android:name="QuestionActivity"
        	android:label="@string/app_name">
        </activity>
        <activity
        	android:name=".activities.StaticFormPrototype"
        	android:label="GeoBloc Static Form Prototyoe"
        	android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
        	android:name=".activities.SecondStaticFormPrototype"
        	android:label="GeoBloc Second Static Form Prototyoe"
        	android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
        	android:name=".shared.GBSharedPreferences"
        	android:label="@string/sharedPreferencesTitle">
        </activity>
		<activity
			android:name=".activities.NewTextReader"
			android:label="NewTextReader"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity
			android:name=".activities.FormsDownloader"
			android:label="@string/formsDownloaderButtonText">
		</activity>
		<activity
			android:name=".activities.InstanceManager"
			android:label="@string/formsSenderButtonText">
		</activity>
	<activity android:name="ParsingXML"></activity>
<activity android:name=".activities.FormActivity"></activity>
<activity android:name=".activities.FormLocalList"></activity>
</application>
    <uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-feature android:name="android.hardware.camera" />
 	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 